/* ztree页面样式 */
.test {
    box-shadow: 0 0 1px red;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}

#menuContent {
    display: none;
}

.left-menu-container {
    width: 300px;
}

.ztree li span.switch {
    display: none;
}

.ztree li a {
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
}

.ztree li span.button {
    display: inline;
}

.ztree li a:hover {
    background: gray;
    cursor: pointer;
}

.layui-icon-home {
    background: red;
}